<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"/>
    <!--<![endif]-->

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" type="text/javascript"
            charset="utf-8"></script>

    <link rel="stylesheet" href="/css/base.css"/>
    <title>Mock It</title>
</head>

<body>

<div class="pure-g info">
    <div class="pure-u-2-24 pure-u-lg-1-5"></div>
    <div class="pure-u-20-24 pure-u-lg-3-5">
        <h1>Mock It</h1>
        <p>Mock API for testing</p>
    </div>
    <div class="pure-u-2-24 pure-u-lg-1-5"></div>
</div>

<div class="pure-g">
    <div class="pure-u-2-24 pure-u-lg-1-5"></div>
    <div class="pure-u-20-24 pure-u-lg-3-5">
        <form class="pure-form pure-form-aligned" id="create-form" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label>StatusCode</label>
                    <select id="statusCode" class="js-example-basic-single" name="status">
                        <option th:each="state : ${httpStatus}"
                                th:text="${state.value()} + ' ' + ${state.getReasonPhrase()}"
                                th:value="${state.value()}"></option>
                    </select>
                </div>
                <div class="pure-control-group">
                    <label>ContentType</label>
                    <select class="js-example-basic-single" name="contentType">
                        <option th:each="type : ${types}" th:text="${type}"></option>
                    </select>
                    <select class="js-example-basic-single" name="charset">
                        <option th:each="charset : ${charsets}" th:text="${charset}"></option>
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="editor">Body</label>
                    <div id="editor" class="pure-u-3-5"
                         style="font-family:monospace; border: 1px solid lightgray;"></div>
                </div>
                <div class="pure-controls">
                    <button type="button" id="send-btn" class="pure-button pure-button-primary">Mock It</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-2-24 pure-u-lg-1-5"></div>
</div>

<div class="pure-g">
    <div class="pure-u-1-1">
        <p id="result-url" class="normal-info" style="text-align: center"></p>
    </div>
</div>

<hr class="line"/>

<footer>
    <div class="pure-g">
        <div class="pure-u-18-24"></div>
        <div class="pure-u-6-24">
            <p>Made By RaymondCode</p>
        </div>
    </div>
</footer>

<script src="/js/index.js"></script>
</body>
</html>